@if (timeRemaining(); as remaining) {
<a class="link" [href]="'/media/' + media()!.id" (click)="retrieveId()">
  <div class="card">
    <div class="airingDate">
      <div class="dateItem">{{ remaining.days }}</div>
      <div class="dateItem">{{ remaining.hours | number : "2.0-0" }}</div>
      <div class="dateItem">{{ remaining.minutes | number : "2.0-0" }}</div>
      <div class="dateItemS">{{ remaining.seconds | number : "2.0-0" }}</div>
      <div class="dateItem">Days</div>
      <div class="dateItem">Hours</div>
      <div class="dateItem">Minutes</div>
      <div class="dateItem">Sec</div>
    </div>
    <div class="poster-container">
      <img
        [ngSrc]="media()?.cover_Image_Url || ''"
        [alt]="getDisplayTitle()"
        class="poster"
        width="230"
        height="325"
        [priority]="renderPriority() === 'high'"
      />
      <mat-icon
        [tooltipOptions]="tooltipOptions"
        [pTooltip]="showInfo"
        class="info-icon"
        >info_i</mat-icon
      >
      <ng-template #showInfo>
        <div class="show-info-container">
          <div class="show-info-item">Next episode: {{ media()?.next_Airing_Episode}}</div>
          <div class="show-info-item">Save to favorites -<mat-icon class="add-icon" (click)="saveMedia()">add_circle</mat-icon></div>
          <div class="show-info-item">Add reminder -<mat-icon class="add-icon">add_circle</mat-icon></div>
        </div>
      </ng-template>
    </div>
    <div class="cardFooter">
      {{ getDisplayTitle() }}
    </div>
  </div>
</a>
} @else if (isAiringNow()) {
<a class="link" [href]="'/media/' + media()!.id" (click)="retrieveId()">
  <div class="card">
    <div class="airingDate airing-now-card">
      <span class="airing-now-text-card">Airing Now</span>
    </div>
    <div class="poster-container">
      <img
        [ngSrc]="media()?.cover_Image_Url || ''"
        [alt]="getDisplayTitle()"
        class="poster"
        width="230"
        height="325"
        [priority]="renderPriority() === 'high'"
      />
      <mat-icon
        [tooltipOptions]="tooltipOptions"
        [pTooltip]="showInfo"
        class="info-icon"
        >info_i</mat-icon
      >
      <ng-template #showInfo>
        <div class="show-info-container">
          <div class="show-info-item">Episode {{ media()?.next_Airing_Episode}} is airing now!</div>
          <div class="show-info-item">Save to favorites -<mat-icon class="add-icon" (click)="saveMedia()">add_circle</mat-icon></div>
          <div class="show-info-item">Add reminder -<mat-icon class="add-icon">add_circle</mat-icon></div>
        </div>
      </ng-template>
    </div>
    <div class="cardFooter">
      {{ getDisplayTitle() }}
    </div>
  </div>
</a>
}
