<h1 class="sectionHeader">Trending Releases!</h1>
<div class="cardContainer">
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  <div class="card">
    <div class="cardBody">
      <img class="poster" src="/oshikoseason2.jpg" alt="Oshi no ko" />
      <div class="cardFooter">Oshi no Ko Season 2</div>
    </div>
  </div>
  
</div>