<div class="header">
  <div class="navbar">
    <div class="logo-container">
      <a routerLink=""><img src="icons/favicon.png" alt="logo" class="logo-img" /></a><span class="logo-name">Anime Live Countdown</span>
    </div>

    <app-searchbar class="searchBar" />

    <div class="navbar-actions">
      <div class="navbar-icons">
        <div class="notification">
          <mat-icon style="color: white; font-size: 30px; overflow: visible;" fontIcon="notifications"></mat-icon>
        </div>
        @if (user()) {
          <div class="profile">
            <button (click)="setVisible()" style="border: none; background: none; cursor: pointer;"><img [src]="user()?.picture" alt=""></button>
          </div>
          <app-profile-dropdown class="profile-dropdown" [isVisible]="dropdownVisible()" (close)="closeDropdown()"/>
        } @else {
          <div class="profile">
            <button aria-label="profile" (click)="openSignIn()" style="border: none; background: none; cursor: pointer;"><mat-icon fontIcon="account_circle" style="color: white; font-size: 30px; overflow: visible;"></mat-icon></button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
