<div class="header">
  <div class="navbar">
    <div class="logo-container">
      <a href="https://animelivecountdown.com"><img src="locon.png" alt="logo" class="logo-img" /></a>
    </div>
    
    <app-searchbar class="searchBar"/>
    
    <div class="itemHeader">
      <div class="newNotif">
        <img src="plusSymbol.svg" alt="Add New Notif" />
        <span class="newNotif-text">Add</span>
      </div>
      <div class="notification">
        <img src="bell.svg" alt="Notification Bell" />
      </div>
      <div class="profile">
        <img src="profileCircle.svg" alt="Profile Icon" />
      </div>
    </div>
  </div>
</div>