<div class="header">
  <div class="navbar">
    <div class="logo-container">
      <a routerLink=""><img src="favicon.png" alt="logo" class="logo-img" /></a>
    </div>
    
    <app-searchbar class="searchBar" />
    
    <div class="navbar-actions">
      
      <div class="navbar-icons">
        <div class="notification">
          <mat-icon fontIcon="notifications"></mat-icon>
        </div>
        <div class="profile">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>