main {
  min-height: calc(100vh - 150px); 
}

.outlet {
  position: absolute;
}


.home {
  grid-column: 1;
}

.sidebar {
  grid-column: 2;
}
  
.footer-placeholder {
  height: 60px; 
  background-color: rgba(0, 0, 0, 0.05);
}
  