<div class="foot">
  <div class="contact">
    <mat-icon>mail</mat-icon>
    <a class="lolink" href="mailto:animelivecountdown@gmail.com"
      >animelivecountdown&#64;gmail.com
    </a>
  </div>
  <div class="github">
    <mat-icon>code</mat-icon>
    <a class="lolink" href="https://github.com/Ant1-dev/AnimeLiveCountdown" target="_blank"
      >Github</a
    >
  </div>
  <div class="logo">
    <a href="animelivecountdown.com"
      ><img class="logoimg" src="../../../locon.png" alt="logo image"
    /></a>
  </div>
</div>
