@if (media()?.next_Airing_At) {
<div class="card">
  <div class="cardBody">
    <div class="airingDate">
      <div class="dateItem">{{ timeLeft() | date : "d" }}</div>
      <div class="dateItem">{{ timeLeft() | date : "hh" }}</div>
      <div class="dateItem">{{ timeLeft() | date : "mm" }}</div>
      <div class="dateItemS">{{ timeLeft() | date : "ss" }}</div>
      <div class="dateItem">Days</div>
      <div class="dateItem">Hours</div>
      <div class="dateItem">Minutes</div>
      <div class="dateItem">Seconds</div>
    </div>
    <img [src]="media()?.cover_Image_Url" alt="Cover Art" class="poster" />
    <div class="cardFooter">
      @if (media()?.title_English != null) {
      {{ media()?.title_English }}
      } @else {
      {{ media()?.title_Romaji }}
      }
    </div>
  </div>
  <div class="episode">Episode {{media()?.next_Airing_Episode}}</div>
</div>
}
