
.card {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}

.cardFooter {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    margin-top: -20px;
    overflow: hidden;
    font-size: 17px;
}

.poster {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}

.airingDate {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    background-color: gray;
}