.result-item {
    list-style-type: none;
    padding: 8px;
    border-bottom: 1px solid #eee;
    z-index: 5;
  }
  
  .result-item:last-child {
    border-bottom: none;
    z-index: 5;
  }
  
  .media-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
    border-radius: 10px;
    z-index: 4;
  }
  
  .media-item:hover {
    background-color: #323232;
  }
  
  .media-details {
    display: flex;
    flex-direction: column; 
    gap: 4px; 
  }
  
  .cover-image {
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .media-title {
    margin: 0;
    font-size: 1rem;
  }
  
  .media-airing-date {
    margin: 0;
    font-size: .9rem;
    color: #00a6fb;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }