<div class="search-container">
    <div class="search-wrapper">
        <mat-icon>search</mat-icon>
      <input
        type="text"
        [formControl]="searchControl"
        class="search-input"
        placeholder="Search anime..."
        (click)="onSearchInputClick()"
      />
    </div>
  </div>
  @if (searchResults().length > 0 && showResults()) {
    <div class="search-results">
      <ul class="result-list">
        @for (resultMedia of searchResults(); track resultMedia.id) {
          <app-result [result]="resultMedia" />
        }
      </ul>
    </div>
  }