.collapsible-container {
    margin-bottom: 20px;
    
}
  
.weekSection {
    width: 100%;
    display: flex;
    color: #00a6fb;
    gap: 10px;
}

.weekSection:hover {
    cursor: pointer;
}

.collapsible-content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 2000px;
}

.collapsible-content.collapsed {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #00a6fb;
}

img.right, img.down {
    height: 1.5rem; 
    stroke: #00a6fb;
  }
  
img.down {
    transform: rotate(90deg);
    stroke: #00a6fb;
  }

  @media screen and (max-width: 600px) {

    .weekSection {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: #00a6fb;
        gap: 10px;
        font-size: 1.8rem;
    }
  }
