.card-container-skeleton {
  width: 100%;
  padding: 10px 0;
}

.skeleton-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.show-skeleton {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0;
  overflow: hidden;
}

.airing-date-skeleton {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  overflow: hidden;
}

