@if (isLoading()) {
  <div class="card-container-skeleton">
    <div class="skeleton-grid">
      <app-media-skeleton />
    </div>
  </div>
} @else if (error() !== '') {
  <div class="error-container">
    <div class="error-message">{{error()}}</div>
  </div>
} @else if (media().length <= 0) {
  <h2>No shows airing this day</h2>
} @else {
  <div class="cardContainer">
    @for (show of media(); track show.id; let i = $index) {
      <app-show 
        [media]="show" 
        [renderPriority]="getShowPriority(i)" />
    }
  </div>
}