:root {
    --primary-color: #00a6fb;
    --bg-dark: #0B0C10;
    --bg-slightly-lighter: #131419; 
    --text-color: #C5C6C7;
  }
  
  .collapsible-container {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .week-day {
    color: inherit;
  }
  
  .weekSection {
    width: 100%;
    display: flex;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.01em;
  }
  
  .weekSection:hover {
    cursor: pointer;
  }
  
  .gradient-bar {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, var(--bg-dark), #00a6fb);
    margin-bottom: 10px;
  }
  
  .collapsible-content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 5000px;
  }
  
  .collapsible-content.collapsed {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
  }
  
  .toggle-icon {
    display: flex;
    align-items: center;
  }
  
  .right-arrow {
    transition: transform 0.3s ease;
  }
  
  .down-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  
  @media screen and (max-width: 600px) {
    .weekSection {
      width: 100%;
      display: flex;
      flex-direction: row;
      color: var(--primary-color);
      gap: 10px;
      font-size: 1.25rem;
    }
  }