<div class="carousel">
  <div class="carousel-media">
    @for (media of mediaList(); track media.id) {
    <div class="carousel-media-image" [class.active]="currentMedia()!.id === media.id">
      @if (media.banner) {
        <img
        [ngSrc]="media.banner"
        [alt]="media.engtitle || media.romtitle"
        class="banner-image"
        fill
        priority
      />
      
      } @else {
      <img
        [ngSrc]="media.coverimage"
        [alt]="media.engtitle || media.romtitle"
        class="cover-image"
        fill
        priority
      />
      }
      <div class="carousel-content">
        <h1 class="show-title">{{ media.engtitle || media.romtitle }}</h1>
        <p class="genres-episodes"> Next Episode: <span class="episodeA">{{media.nextepisode + " "}}</span> <br> Genres: {{ media.genres.join(", ") }}</p>
        <div class="airing-block">
          @if (isAiringNow()) {
            <div class="airing-now-text">Airing Now</div>
          } @else {
            @if (timeRemaining(); as remaining) {
              <div class="countdown-timer">
                <div class="countdown-item">
                  <div class="countdown-value">{{remaining.days}}</div>
                  <div class="countdown-label">Days</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-value">{{remaining.hours | number:'2.0-0'}}</div>
                  <div class="countdown-label">Hours</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-value">{{remaining.minutes | number:'2.0-0'}}</div>
                  <div class="countdown-label">Minutes</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-value" style="color: #00a6fb">{{remaining.seconds | number:'2.0-0'}}</div>
                  <div class="countdown-label">Seconds</div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
    }
    <div class="directions">
      <div class="left-arrow" (click)="previousSlide()"><mat-icon fontIcon="arrow_back_ios"></mat-icon></div>
      <div class="carousel-index">
        <span class="active-index" style="color: #00a6fb;">{{ currentIndex() + 1 }}</span> <span class="index-slash">/</span>
        <span class="total-index">{{ mediaList().length }}</span>
      </div>
      <div class="right-arrow" (click)="nextSlide()"><mat-icon fontIcon="arrow_forward_ios"></mat-icon></div>
    </div>
  </div>
</div>
